<!DOCTYPE html>
<html>
<head>
  <title>Solidus six saferpay</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "solidus_six_saferpay/application", media: "all" %>
  <%= javascript_include_tag "solidus_six_saferpay/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
